<%if post_show %>
  <li class="comments_index">
    <%comments.includes(:user).each do |comment| %>
      <div class="comment_spacer">
        <span>Name: <%= comment.user.name %></span>
        <span>Comment: <%= comment.text %></span>
        <% if can? :destroy , comment %>
          <%= button_to "Destroy", post_comment_path(post_id: comment.post, id: comment),
        method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
      <br>
    <%end%>
  </li>
<%else%>
  <li class="comments_index">
    <%comments.includes(:user, :post).each do |comment| %>
      <div class="comment_spacer">
        <span>Name: <%= comment.user.name %></span>
        <span>Comment: <%= comment.text.slice(0, 20)... %></span>
        <% if can? :destroy , comment %>
          <%= button_to "Destroy", post_comment_path(post_id: comment.post, id: comment),
        method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
      <br>
    <%end%>
  </li>
<%end%>
