<% if post_index %>
  <li class="user_posts">
    <div class="post_show_title">
      <h2><%= link_to post.title, user_post_path(post.user, post) %> by <%= link_to post.user.name, user_path(post.user) %></h2>
      <h3>
        <%= pluralize post.comments_counter, 'Comment' %>,
        <%= pluralize post.likes_counter, 'Like' %>
      </h3>
    </div>
    <br>
    <p><%= post.text %></p>
  </li>
<%elsif%>
  <li class="user_posts">
    <div class="post_show_title">
      <h2>
        <%= post.title %> by <%= link_to post.user.name, user_path(post.user) %>
        <% if can? :destroy , post %>
          <%= button_to "Destroy", user_post_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </h2>
      <h3>
        <%= pluralize post.comments_counter, 'Comment' %>,
        <%= pluralize post.likes_counter, 'Like' %>
      </h3>
    </div>
    <br>
    <p><%= post.text %></p>
  </li>
<%end%>
